body{
    display: flex;
    flex-direction: column;
}
#main{
    align-self: center;
    width: 800px;
    height: 80%;
    align-content: center;
    align-self: center;
    align-items: center;
    text-align: center;
}

header{
    align-self: center;
    align-content: center;
    text-align: center;
}

footer{
    align-self: center;
    align-content: center;
    background-color: black;
    width: 90%;
    height: 7rem;
    color: red;
    align-content: center;
    text-align: center;
}

#search{
    align-self: center;
    
}

#top{
    align-self: center;
}

#add{
    width: 100px;
    height: 50px;
    background-color: green;
    top: 10px;  /* Abstand vom oberen Rand */
    right: 10px; /* Abstand vom rechten Rand */
    align-self: ri;
    margin-left: 1rem;
}

.note{
    width: 700px;
    height: 300px;
    align-self: center;
    align-content: center;
    text-align: center;
    background-color: red;
    top: 60px; 
    margin: 35px;
}
#header{
    font-size: 50px;       /* Macht die Schrift größer */
    font-weight: bold;     /* Macht die Schrift fett */
}

.popup {
    display: none; /* Das Popup wird standardmäßig ausgeblendet */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Dunkler Hintergrund */
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Sicherstellen, dass es über allem liegt */
}

.popup-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    width: 400px;
    text-align: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.close-button {
    float: right;
    font-size: 20px;
    cursor: pointer;
    color: #333;
}

textarea, input[type="text"] {
    width: 90%;
    margin: 10px 0;
    padding: 8px;
}

#save-note {
    background-color: green;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

#button, #add {
    width: 150px;
    height: 40px;
    background-color: green;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

#button:hover, #add:hover {
    background-color: darkgreen;
}